#push
  #header.break.bottom.ib
    %span#title monorale | xyz
  #opt.bottom.ib
    %span.btn articles | 25
    %span.btn art | 3
    %span.btn stories | 17
    %input{:type => "text"}/
  .cont.ib
    %span.title lorem ipsum
    %p Lorem ipsum dolor sit amet, ornare nec in metus dolor nisl dolor, pellentesque pellentesque ultrices neque cras ornare luctus, feugiat donec pede donec vestibulum suspendisse, tortor phasellus aliquet elit dui consequat, magna euismod praesentium fusce eu. Sed nonummy integer id cras in, integer vel mi semper vestibulum, sed dapibus ante aptent. Vel nam donec massa malesuada nam, feugiat vel. Molestie vulputate vehicula, iaculis wisi, leo dui dignissim, dolor sagittis ante, netus nec porta mi. Risus ac quam fermentum scelerisque ipsum, donec sit, et vestibulum aliquam, maecenas esse inceptos sociis, non mauris. Ut fames voluptatem. Consequat dapibus sit quis non ipsum, quis consequat duis duis eget, eu vehicula magnis tempor felis class, nisl lacinia ante arcu ut. Nulla interdum nunc fringilla nunc vitae, libero lectus proin. Amet fringilla, velit per integer purus nisl, nullam sodales tortor aliquam gravida orci, ante lacinia amet est et, vitae volutpat.
#input.ib
  .chain
    %span.btn link
    %span.spacer
    %span.btn btn
  %input{:type => "submit"}/
  %input{:type => "file"}/
  %input{:type => "radio"}/
#footer.break.top.ib
  %a.btn Facebook
  %a.btn Twitter